*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar ul{
    list-style: none;
    margin-left: 21rem;
}
#navbar {
    width: 100%;
    height: 60px;
    position:fixed;
    background-color: #333333;
}
#navbar li {
    float: left;
    
}
#navbar .btn{
    background-color: #333333;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius:0;
    display: block;
    padding-top: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
    
}
#navbar .btn:hover{
    background-color: #52b8da;
    color: #333;
}